*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-container{
    background-color: rgba(0, 0, 0, .8);
    padding: 1em;
    margin: 0;
    border-bottom: solid 2px rgba(218,0,104,255);
}

.nav-link:hover{
    color: rgba(218,0,104,255) !important;
    transform: scale(1.2) !important;
}

.nav-active{
    border-bottom: solid 5px rgba(218,0,104,255);
}

.img-logo{
    width: 50vh;
}

.main-container{
    padding-top: 4em;
    width: 90%;
    justify-content: center;
    gap: 4em;
    min-height: 24.7em;
}

#checkbox-container{
    width: 75vw;
}

.search-container{
    width: 15em;
}

#searchId{
    height: 2.2em;
}

.empty{
    height: 330px;
    padding: 2em;
    background-color: rgba(0, 0, 0, .7);
    border-top: solid .2em rgba(218,0,104,255);
    border-bottom: solid .2em rgba(218,0,104,255);
    border-radius: 1em 0;
}

.form-contact{
    gap: 2.9em;
}

.txt-contact{
    color: rgba(218,0,104,255);
}

.message{
    width: 50%;
}

input, textarea{
    max-width: 20em;
    outline: none;
    border: 2px solid #000000;
    border-radius: 4px;
    font-size: 16px;
    padding-left: 15px;
}

input:focus{  
    border: 2px solid #1a73e8; 
}

.btn-contact{
    background-color: rgba(218,0,104,255);
    color: white;
    height: 2em;
    width: 6rem;
    border-radius: .5em;
    border: solid 1px white;
}

.category{
    max-height: 100%;
    width: 100%;
    border-radius: 0 0 1em 1em;
    border-bottom: solid 2px rgba(218,0,104,255);
}

.category-son{
    border-radius: 0 0 1em 1em;
}

.input-search{
    height: 1.5em;
}

.btn-search{
    background-color: transparent;
    border: none;
}

.btn-search:hover{
    background-color: black;
}

.card{
    width: 18em;
    height: 24em;
    border: 2px solid rgba(218,0,104,255);
    border-radius: 0 2em;
}

.card:hover{
    transform: scale(1.05);
}

.card-img-top{
    border-radius: 0 2em 0 0;
    height: 150px;
    object-fit: cover;
}

.card-details{
    flex-direction: row;
    width: 55em;
    height: 26.04em;
    border: 2px solid rgba(218,0,104,255);
    border-radius: 2em 0 2em 0;
}

.img-details{
    border-radius: 2em 0 0 0;
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.table-stats{
    background-color: rgba(0, 0, 0, .8);
    margin-top: 2.15em;
}

.table-stats th{
    background-color: rgba(218,0,104,.6);
}

.message-input{
    min-height: 10em;
    min-width: 20em
}

.footer-container{
    width: 100%;
    background-color: black;
}

.footer-img{
    width: 50px;
    height: 50px;
}

.footer-container a{
    text-decoration: none;
    color: rgba(218,0,104,255);
}

@media screen and (max-width: 991px) {

    .header-container{
        flex-direction: row-reverse;
        background-color: rgba(0, 0, 0, .5);
        margin: 0;
        gap: 0;
    }

    .img-logo{
        width: 50vw !important;
        padding-right: 2em;
    }

    .nav-link:hover{
        transform: scale(1) !important;
    }

    .card-details{
        flex-direction: column;
        width: 25em;
        height: 41em;
        border-radius: 0 2em;
    }
    
    .img-details{
        width: 100%;
        border-radius: 0 2em 0 0;
        height: 300px;
    }
    
}

@media screen and ( max-width: 340px){
    .card-text{
        font-size: .8rem;
    }
    
}